<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C18210.Properties.Settings.C18210ConnectionString"
            connectionString="Data Source=CRQ-PC\WINCC;Initial Catalog=C18210;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>